# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# JWT_SECRET: Security token secret
JWT_SECRET="snpaiuz_super_secret_jwt_key_2026"

# ESKIZ.UZ SMS API CREDENTIALS
ESKIZ_EMAIL="info@snpaiuz.uz"
ESKIZ_PASSWORD="your_eskiz_password"
ESKIZ_SMS_TOKEN=""

# CLICK PAYMENT API
CLICK_MERCHANT_ID="click_merchant_id"
CLICK_SERVICE_ID="click_service_id"
CLICK_SECRET_KEY="click_secret_key"

# PAYME PAYMENT API
PAYME_MERCHANT_ID="payme_merchant_id"
PAYME_SECRET_KEY="payme_secret_key"

